:root {
    --pixelSize: 2px;
    --gridCell: calc(var(--pixelSize) * 16);
}

@media( min-width: 700px ) {
    :root {
        --pixelSize: 3px;
    }
}

@media( min-width: 900px ) {
    :root {
        --pixelSize: 4px;
    }
}

@media( min-width: 1280px) {
    :root {
        --pixelSize: 5px;
    } 
}

body {
    margin: 0;
    background-color: orange;
    display: flex;
}


#camera {
    width: 90vw;
    height: 90vh;
    overflow: hidden;
    background: #61ddf7;
    position: relative;
    left: 5vw;
    right: 5vw;
    top: 5vh;
}

#map {
    background-image: url(./assets/baseMap.png);
    background-size: 100%;
    width: calc(10 * var(--gridCell));
    height: calc(16 * var(--gridCell));
    position: relative;
}

#player {
    width: calc(32 * var(--pixelSize));
    height: calc(32 * var(--pixelSize));
    overflow: hidden;
    position: absolute;
}

#playerImg {
    width: calc(128 * var(--pixelSize));
    height: calc(128 * var(--pixelSize));
    position: absolute;
}

.pixelArt {
    image-rendering: pixelated;
}

[walking="true"] {
    animation: moveSpriteSheet 500ms steps(4) infinite;
}

[facing="down"] {
    top: calc(0 * var(--pixelSize));
}

[facing="up"] {
    top: calc(-32 * var(--pixelSize));
}

[facing="right"] {
    top: calc(-64 * var(--pixelSize));
}

[facing="left"] {
    top: calc(-96 * var(--pixelSize));
}

@keyframes moveSpriteSheet {
    from {
        transform: translate3d(0px,0,0);
    }
    to {
        transform: translate3d(-100%,0,0);
    }
}